 <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Contact US</h5>
      <p class="card-text">Feel free to conatct for any inquiries !</p>
      <p class="card-text"><strong>EMAIL : </strong>hiraj@gmail.com</p>
      <p class="card-text"><strong>Address : </strong>#567 Narayana Shastry Road 3rd Cross Mysore-10</p>
      <p class="card-text"><strong>Conatct : </strong>9343787799</p>
      <a href="#" class="btn btn-primary">Medicare</a>
    </div>
  </div> 
  <!-- <div class="product_card">
    <div class="card border-1">
      <div class="card-header bg-transparent border-0 p-0">
        <div class="card-body p-2">
          <small>
            <a href="#" class="text-muted">Medicare pharmacy</a><br>
          </small>
          <strong>
            <a href="#" class="text-body">Proxifenol</a>
          </strong>
          <p class="card-text">
            {{ medicine.description }}
          </p>
          <div class="price">
            <span class="text-warning"> &#8377;15.99</span>
          </div>
          <div
            class="d-flex justify-content-around flex-wrap m-2"
          >
            <button
              type="button"
              class="btn btn-secondary"
            >
              Buy
            </button>
            <button type="button" class="btn btn-light">
              Add to cart
            </button>
          </div>
          <p
            *ngIf="isError || isSuccess"
            class="alert p-2 m-2"
            [ngClass]="{ 'alert-danger': isError, 'alert-success': isSuccess }"
          >
            {{ message }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="product_card">
    <div class="card border-1">
      <div class="card-header bg-transparent border-0 p-0">
        <div class="card-body p-2">
          <small>
            <a href="#" class="text-muted">HealthPlus Pharmacy</a><br>
          </small>
          <strong>
            <a href="#" class="text-body">Nurocetamol</a>
          </strong>
          <p class="card-text">
            {{ medicine.description }}
          </p>
          <div class="price">
            <span class="text-warning"> &#8377;8.49</span>
          </div>
          <div
            class="d-flex justify-content-around flex-wrap m-2"
          >
            <button
              type="button"
              class="btn btn-secondary"
            >
              Buy
            </button>
            <button type="button" class="btn btn-light">
              Add to cart
            </button>
          </div>
          <p
            *ngIf="isError || isSuccess"
            class="alert p-2 m-2"
            [ngClass]="{ 'alert-danger': isError, 'alert-success': isSuccess }"
          >
            {{ message }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="product_card">
    <div class="card border-1">
      <div class="card-header bg-transparent border-0 p-0">
        <div class="card-body p-2">
          <small>
            <a href="#" class="text-muted">Restful Nights Pharmacy</a><br>
          </small>
          <strong>
            <a href="#" class="text-body">Sleepwell Forte</a>
          </strong>
          <p class="card-text">
            {{ medicine.description }}
          </p>
          <div class="price">
            <span class="text-warning"> &#8377;19.99</span>
          </div>
          <div
            class="d-flex justify-content-around flex-wrap m-2"
          >
            <button
              type="button"
              class="btn btn-secondary"
            >
              Buy
            </button>
            <button type="button" class="btn btn-light">
              Add to cart
            </button>
          </div>
          <p
            *ngIf="isError || isSuccess"
            class="alert p-2 m-2"
            [ngClass]="{ 'alert-danger': isError, 'alert-success': isSuccess }"
          >
            {{ message }}
          </p>
        </div>
      </div>
    </div>
  </div> -->