<div class="card mb-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Medicare For better tommorow</h5>
      <p class="card-text">Medicare is a leading platform that aims to provide access to health services and products</p>
      <p class="card-text">The mission is to improve the overall expreience by using tecnology</p>
      <p class="card-text">Medicare provides:</p>
      <p class="card-text">> Delivery of medicines and health care to your dores</p>
      <p class="card-text">> Stay Updated about the latest medicare</p>
      <p class="card-text"><small class="text-muted">Together we can</small></p>
    </div>
    <img src="https://e0.pxfuel.com/wallpapers/908/741/desktop-wallpaper-healthcare-%E2%8B%86-maximumbit.jpg" class="card-img-bottom" alt="...">
    
  </div>